* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Outfit, sans-serif;
}

body {
    overflow-x: hidden;
}

body > * {
  margin-bottom: 8rem;
  /* border: 2px solid red; */
}

footer {
  margin-bottom: 0;
}

img {
    display: block;
    height: 200px;
    width: 50%;
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

a {
    text-decoration: none;
}

/* NAVBAR */
.nav-container {
  margin-bottom: 0;
  flex-direction: column;
  gap: .1rem;
  padding-block: .5rem;
}

.nav-container > * {
  /* border: 2px solid blue; */
  padding: .8rem 2rem;
}

.nav-list {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* .top-nav {
  background-color: #ededed4a;
  border-bottom: 1px solid#0000000f;
} */

.top-nav ul,
.bottom-nav {
  align-items: center;
  justify-content: space-between;
}

.top-nav ul li {
  width: 100%;
  border-right: 1px solid #000;
  text-align: center;
  padding-inline: 1rem;
}

.top-nav ul li:last-child {
  border-right: 1px solid black;
    display: flex;
    gap: 1rem;
}

.top-nav ul,
.bottom-nav ul {
  gap: 1rem;
}

.logo p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  color: #2c3568c0;
}


/* HERO */
.hero-container {
  height: 600px;
  margin-bottom: 5rem;
  position: relative;
}

.hero-container::after {
  content: '';
  position: absolute;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #e1d9ce;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hero-container > * {
  flex-basis: 100%;
  /* border: 2px solid black; */
}

.heroimage-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .heroimage-container::after {
  content: '';
  top: 20%;
  left: 0;
  height: 60%;
  width: 10%;
  background-color: #d1c5b3a8;
  position: absolute;
  z-index: 1;
} */

.heroimage-container img {
  border-radius: 10px;
  height: 90%;
  width: 80%;
  margin-inline: auto;
  object-fit: cover;
  object-position: center;
}

.herotext-container {
  padding-inline: 1rem;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.herotext-container h1 {
  font-size: 3.5rem;
}

.herotext-link {
  /* border: 2px solid red; */
  width: 50%;
  justify-content: space-between;
}

.herotext-link a {
  padding: 1rem;
  /* border: 2px solid blue; */
  color: #000;
  background-color: #704fe6;
}

.herotext-link a.call {
  background-color: #ffd25d;
}


/* SERVICES */
.services-container {
  /* border: 2px solid red; */
  flex-direction: column;
  gap: 5rem;
}

.services-content p {
  /* border: 2px solid blue; */
  padding: 1rem;
  width: 80%;
  margin-inline: auto;
  font-size: 2rem;
  text-align: center;
  color: #6f6f6f;
  font-weight: 300;
}

.services-content span {
  color: #000000d9;
  font-weight: bold;
}

.services-card {
  width: 90%;
  margin-inline: auto;
  /* border: 2px solid green; */
  gap: 1rem;
}

.services-card > * {
  flex-basis: 100%;
  /* border: 1px solid black; */
  height: 400px;
}

.service-card {
  flex-direction: column;
  gap: 4rem;
  background-color: #363249;
  color: #fff;
  padding: 1rem;
}

.service-card.counseling {
  background-color: #d1a4a9;
  color: #363249;
}

.service-card.medicine {
  background-color: #e4e0df;
  color: #363249;
}

/* .service-card > * {
  border: 2px solid blue;
} */

.card-header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #363249;
  position: relative;
}

.consultation .card-header {
  border-bottom: 2px solid #ffffff;
}

.card-number span {
  font-size: 5rem;
}

.card-icon {
  position: absolute;
  /* border: 2px solid red; */
  right: 0;
  top: 20px;
}

.card-icon i {
  font-size: 1.5rem;
}

.card-about {
  flex-direction: column;
  gap: 2rem;
}

.card-about h2 {
  text-transform: uppercase;
}






/* WHY SECTION */
.why-container {
  /* height: 500px; */
  flex-direction: column;
  gap: 4rem;
  /* border: 2px solid red; */
  align-items: center;
}

.why-header h2,
.cta-header h2,
.testimonials-header h2,
.faq-container h2 {
  font-size: 2.5rem;
}

.why-info {
  grid-template: auto / .4fr .6fr;
  height: 550px;
  /* border: 2px solid rgb(2, 0, 117); */
  width: 95%;
  margin-inline: auto;
  gap: 1rem;
  align-items: center;
}

.why-data {
  /* border: 2px solid brown; */
  width: 100%;
  align-items: center;
  text-align: center;
}

/* .why-data > * {
  border: 2px solid red;
} */

.why-data .data {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.why-data .data>* {
  flex-basis: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #00000047;
  padding: .8rem;
}

.why-data .data > * span {
  font-size: 5rem;
  font-weight: 200;
}

.why-data .data > * p {
  text-transform: uppercase;
  font-weight: 200;
}

/* .why-info > * {
  border: 2px solid #000000;
} */

.why-image {
  height: 100%;
  width: 100%;
}

.why-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.why-content {
  /* border: 2px solid red; */
  justify-content: center;
  grid-template: auto / 1fr 1fr;
  height: 95%;
  gap: 1rem;
}

.why-content > * {
  /* border: 2px solid black; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: .5rem;
  gap: .5rem;
}

.why-content h3 {
  font-size: 2rem;
}

.why-content p {
  font-size: .9rem;
}

.client {
  background: linear-gradient(to right, #dcbdff 0%, #dcbdff 100%);
}

.results {
  background: linear-gradient(to right, #ffdac0 0%, #ffdac0 100%);
}

.convenience {
  background: linear-gradient(to right, #ffbdbe 0%, #ffbdbe 100%);
}

.holistic {
  background: linear-gradient(to right, #a2f5cf 0%, #a2f5cf 100%);
}













  /* CONTACT */
  .cta-container {
    /* border: 2px solid red; */
    /* gap: 4rem; */
    /* margin-bottom: 4rem; */
    /* justify-content: center;
    align-items: center; */
    /* width: 95%;
    margin-inline: auto; */
    position: relative;
    height: 600px;
  }

  /* .cta-container > * {
    border: 2px solid blue;
  } */

  .cta-content {
    /* border: 2px solid blue; */
    width: 100%;
    /* gap: 1rem; */
    color: #fff;
  }

  /* .cta-content > * {
    border: 2px solid black;
  } */

  .cta-info {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    background-image: url("./assets/Images/green.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    padding: 2rem;
  }

    .cta-info::after {
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #00000070;
      position: absolute;
      z-index: -1;
    }

    .cta-header h2 {
      font-weight: 100;
    }

    .quote {
      font-size: 2.2rem;
    }

    .quote q {
      font-weight: 400;
    }

    .quote span {
      font-weight: 200;
    }

  .cta-header {
    align-items: center;
    font-size: 1.5rem;
  }

  .location,
  .location > * {
    flex-direction: column;
    gap: .5rem;
  }

  .location {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.2rem;
    background-color: #ffffff33;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
    padding: .5rem 1rem;
  }

  .location p {
    font-weight: 300;
  }

  .location a {
    color: #c2baf0;
    /* text-decoration: underline; */
    transition: all 350ms ease-in-out;
  }

  .location a:hover {
    text-decoration: underline;
  }

 
  .honeypot {
    display: none;
  }

  .form-container {
    height: 100%;
    /* align-self: center; */
    position: relative;
    border-block: 1px solid #565f1e;
    width: 30%;
    position: relative;
  }

  .form-container::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
      width: 0;
      height: 0;
      border-right: 20px solid transparent; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #676c2a;
  }

  .form-header span {
    color: #565f1e;
    font-weight: 500;
  }

  form {
    background-color: #fff;
    padding: 1rem;
    gap: .5rem;
    grid-template: auto / 1fr;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin-inline: auto;
    /* border-radius: 5px; */
    height: 90%;
    justify-content: center;
    align-self: center;
    /* border: 1px solid #00000054; */
  }

  .form-btn {
    align-self: center;
    justify-self: center;
  }

  form button {
    border: 1px solid #565f1e;
    padding: 1.2rem 4rem;
    background-color: #565f1e;
    color: #fff;
    transition: all 350ms ease-in-out;
    cursor: pointer;
  }

  form button:hover {
    background-color: #ffffff;
    color: #000000;
  }



  /* input animations */
.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input, 
.label-float textarea {
  border-inline: none;
  border-top: none;
  border-bottom: 1px solid #565f1e;
  outline: none;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  /* -webkit-appearance:none; */
  appearance:none;
  transition: all .1s linear;
}


.label-float input::placeholder,
.label-float textarea::placeholder {
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: calc(50% - 20px);
  left: 15px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: transparent;
  padding: 2px 5px;
  box-sizing: border-box;
  transition: all .1s linear;
}

.label-float input:required:invalid + label,
.label-float textarea:required:invalid + label {
  color: #000000b7;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label, 
.label-float textarea:focus + label,
.label-float textarea:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #ffffff;
  background-color: #565f1ec2;
}
/* end of input animations */




/* TESTIMONIALS */
.testimonials-container {
  grid-template: auto / .4fr .6fr;
  position: relative;
  /* height: 500px; */
  /* border: 2px solid red; */
  /* align-items: center; */
}

.fa-quote-left {
  position: absolute;
  top: 0;
  left: 33px;
  color: #7e7dff;
  font-size: 4rem;
}

/* .testimonials-container > * {
  border: 2px solid black;
} */

.testimonials-header {
  align-self: center;
  padding-inline: 2rem;
    flex-direction: column;
    gap: 2rem;
}

.testimonials-header p {
  width: 70%;
}

.testimonials-header a {
  background: linear-gradient(to right, #7e7dff 0%, #7e7dff 100%);
    width: 50%;
    padding: 1rem 1.5rem;
    border: 1px solid #7e7dff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.testimonials-header a:hover {
  color: #000000;
  background: #fff;
  border-color: #000;
}

.testimonials-content > * {
  border:1px solid #112bc02b;
}

.testimonials-content {
  grid-template: repeat(3, 1fr) / 1fr;
  gap: 1rem;
  padding: 1rem;
}

.testimony-card  {
  grid-template: auto / .3fr .7fr;
  align-items: center;
  border-left: 10px solid #0000ff82;
  border-radius: 10px;
  padding: 1rem .5rem;
  width: 90%;
  margin-left: auto;
}

.testimony-card.half {
  width: 70%;
  gap: 1rem;
}

.testimony-card .user-image {
  height: 100%;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.testimony-card .user-image img {
  height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.user-testimony {
  flex-direction: column;
  gap: 1rem;
  color: #000000a9;
}

.david .user-testimony {
  color: #000;
}

.user-testimony p {
  font-size: 1.2rem;
  font-weight: bold;
}










/* FAQ */
.faq-container {
  flex-direction: column;
  gap: 5rem;
}

.faq-container h2 {
  text-align: center;
}

.faq-container .accordion {
  width: 80%;
  margin-inline: auto;
}

.faq-container .accordion > * {
  border-bottom: 1px solid #e5e5e5;
}

.accordion p {
  font-size: 1rem;
}

.accordion-label,
.accordion-content {
  padding: 1.5rem .2rem;
}

.accordion-label {
  color: #515151;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-label:hover {
  background-color: #e5e5e52f;
}

.accordion-content {
  background-color: #f5f5f554;
  line-height: 1rem;
  display: none;
  font-weight: 400;
  color: #000000be;
}

.accordion-input {
  display: none;
}

.accordion-input:checked ~ .accordion-content { /*if input is checked target its content*/
  display: block;
}

.accordion-content a strong {
  color: #0000ff;
  transition: all 250ms ease-in-out9;
}

.accordion-content a strong:hover {
  text-decoration: underline;
}

.fa-plus {
  display: block;
}

.fa-minus {
  display: none;
}

.accordion-input:checked ~ .accordion-label .fa-minus { /*if input is checked target its content*/
  display: block;
}

.accordion-input:checked ~ .accordion-label .fa-plus { /*if input is checked target its content*/
  display: none;
}

.work-header,
.contact-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

  /* FOOTER */
  footer {
    margin-top: 4rem;
    background-color: #000;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 2rem 1rem;
    flex-direction: column;
  }
